<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="id">
	{$id_editcontrol}
	</control>
	<control field="email">
	{$email_editcontrol}
	</control>
	<control field="usuario">
	{$usuario_editcontrol}
	</control>
	<control field="senha">
	{$senha_editcontrol}
	</control>
	<control field="ativo">
	{$ativo_editcontrol}
	</control>
	<control field="excluir">
	{$excluir_editcontrol}
	</control>
	<control field="data">
	{$data_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>