<html {$html_attrs}>
<head>
<title>Add/Edit users</title>
<link REL="stylesheet" href="include/style.css" type="text/css">
<!--[if IE]>
<link REL="stylesheet" href="include/styleIE.css" type="text/css">
<![endif]-->
{BEGIN style_block}
<style>
#height100{$id} {padding:10px;}
#toplinks_block{$id} {padding:2px 5px}
#toplinks_block{$id} > * {margin:4px 6px;vertical-align:middle;}
#menu_block{$id} {clear:left;margin-top:10px;}
#menu_block{$id} div {{BEGIN RTL_block}float:right;{END RTL_block}{BEGIN LTR_block}float:left;{END LTR_block}}
#menu_block{$id} div div {margin-right:1px;float:none;}
#menu_block{$id} a {white-space:nowrap;}
#search_records_block{$id} {padding:9px 10px 13px 10px;text-align:right}
#search_records_block{$id} > * {margin:2px 2px;vertical-align:middle}
#detFound{$id}, #pageOf{$id} {white-space:nowrap}
#recordcontrols_block{$id} {padding:13px 10px 9px 10px;text-align:right}
#recordcontrols{$id} > *,#newrecordcontrols{$id} > * {margin:2px 2px;vertical-align:middle}
#search_records_top{$id} {{BEGIN RTL_block}clear:right;{END RTL_block}{BEGIN LTR_block}clear:left;{END LTR_block}}
#message_block{$id} {text-align:center;}
#grid_block{$id} {margin-top:10px;}
.listIcons img.listIcon{margin:0 3px;opacity:0.3;filter:alpha(opacity=30);}
.headerlist_right2 *,.headerlist * {vertical-align:middle}
.grid_recordheader {padding-top:5px;}
.grid_recordheader a {margin:0 5px;}
#mastertable_block{$id} {margin:10px 0}
#searchOptions{$id}{
	margin-right: 10px;
	padding-bottom: 18px;
}
#searchPanelBottomRound{$id}{
	/*margin-right: 10px !important;*/
}
#searchform{$id}{
	float: left; 
}
#searchPanelContainer{$id}{
	width: 200px;
	margin-top:10px;
	display: block; 
	float: none;
	position:absolute;
}
body{margin:0px;padding:0px;}

/*report styles*/


#export_links{$id} * {padding:0}
</style>
{END style_block}
<!--[if IE]>
{BEGIN iestyle_block}
<style>
#toplinks_block{$id} * {margin:2px 3px;vertical-align:middle;}
#search_records_block{$id} * {margin:1px 1px;vertical-align:middle}
#recordcontrols{$id} *, #newrecordcontrols{$id} * {margin:1x 1px;vertical-align:middle}
.grid {height:100%;}
</style>
{END iestyle_block}
<![endif]-->
</head>
<body marginheight=0 marginwidth=0 {$bodyattrs}>
{BEGIN body}
{$header}
<div id="height100{$id}">

{BEGIN toplinks_block}
<div>
<b class="xtop"><b class="rb1 rb1_top"></b><b class="rb2 rb2_top"></b><b class="rb3 rb3_top"></b><b class="rb4 rb4_top"></b></b>
<div class="top" id="toplinks_block{$id}" >
<span><font style="FONT-FAMILY: Verdana, Arial;">Logado Como</font>&nbsp;<b>{$username}</b>&nbsp;</span>
<span class=buttonborder><input type=button class=button value="Log Out" {$logoutlink_attrs}></span>

{BEGIN exitadminarea_link}
<span class=buttonborder><input type=button class=button value="Sair da Área Admin" {$exitaalink_attrs}></span>
{END exitadminarea_link}


{BEGIN asearch_link}
<span class=buttonborder><input type=button class=button value="Busca Avancada" {$asearchlink_attrs}></span>
{END asearch_link}


{BEGIN export_link}
<span class=buttonborder><input type=button class=button value="Exportar os Resultados" {$exportlink_attrs}></span>
{END export_link}

{BEGIN print_link}
<span class=buttonborder><input type=button class=button value="Imprimir esta página" {$printlink_attrs}></span>
{END print_link}

{BEGIN printall_link}
<span class=buttonborder><input type=button class=button value="Imprimir todas as Páginas" {$printalllink_attrs}></span>
{END printall_link}





</div>
<b class="xbottom"><b class="rb4 rb4_top"></b><b class="rb3 rb3_top"></b><b class="rb2 rb2_top"></b><b class="rb1 rb1_top"></b></b>
</div>
{END toplinks_block}

<!-- MenuBegin -->
{BEGIN menu_block}
<div id="menu_block{$id}" >
<!-- ?????? Admin menu -->
<style>
.menuitem {padding:6px 18px 10px 13px;margin-bottom:1px}
.menuitem_active {padding:6px 18px 11px 13px;}
</style>
{BEGIN admin_rights_tablelink}
	<div>
		<b class="rb1 rb1_menu"></b><b class="rb2 rb2_menu"></b><b class="rb3 rb3_menu"></b><b class="rb4 rb4_menu"></b>
		<div class="menuitem">
			<a class="menu_db2" {$admin_rights_tablelink_attrs}>
Permissões
			</a>
		</div>
	</div>
{END admin_rights_tablelink}
{BEGIN admin_members_tablelink}
	<div>
		<b class="rb1 rb1_menu"></b><b class="rb2 rb2_menu"></b><b class="rb3 rb3_menu"></b><b class="rb4 rb4_menu"></b>
		<div class="menuitem">
			<a class="menu_db2" {$admin_members_tablelink_attrs}>
Associar Usuários a Grupos
			</a>
		</div>
	</div>
{END admin_members_tablelink}
{BEGIN admin_users_tablelink}
	<div>
		<b class="rb1 rb1_menua"></b><b class="rb2 rb2_menua"></b><b class="rb3 rb3_menua"></b><b class="rb4 rb4_menua"></b>
		<div class="menuitem_active">
			<a class="menu_db" {$admin_users_tablelink_attrs}>
Adicionar/Editar Usuários
			</a>
		</div>
	</div>
{END admin_users_tablelink}
</div>
{END menu_block}

<!-- MenuEnd -->

{BEGIN search_records_block} 
<div id="search_records_top{$id}">
	<b class="rb2 rb2_search"></b><b class="rb3 rb3_search"></b><b class="rb4 rb4_search"></b>
	<div id="search_records_block{$id}" class="main_table_border_P">
		{BEGIN searchform}
		<!-- Search panel header for horizontal layouts -->
		<span id="searchform{$id}" align="absmiddle">
	<span id="searchPanelHeader{$id}">  
		{$simpleSearchFieldCombo}
		
		{$simpleSearchTypeCombo}
		
		{BEGIN searchform_text}
		<input type="text" {$searchfor_attrs} size="25">
		{END searchform_text}
		&nbsp;
		{BEGIN searchform_search}
			<span class="buttonborder"><input class="button" type="button" style="width: 18px; background-image: url(images/search/search.gif);" {$searchbutton_attrs} ></span>
		{END searchform_search}
		&nbsp;
		{BEGIN searchform_showall}	
		<span id="showall{$id}" class="buttonborder" {$showAllCont_attrs}><input type="button" class="button" value="Mostrar Todos" {$showallbutton_attrs}></span>
		{END searchform_showall}
	</span>
	{BEGIN searchPanelTopButtons}
	<span>
		&nbsp;
		<span class="buttonborder"><input class="button" type="button" id="showSrchWin{$id}" style="width: 18px; background-image: url(images/search/showWindowPin.gif);" {$showHideSearchWin_attrs} ></span>
		&nbsp;		
		<span class="buttonborder"><input class="button" type="button" id="showOptPanel{$id}" style="width: 18px; background-image: url(images/search/showOptions.gif);" {$showHideSearchPanel_attrs} ></span>
	</span>
	{END searchPanelTopButtons}
</span>  
	{END searchform}

		<div style="display: inline;">
			&nbsp;&nbsp;&nbsp;
			
				{BEGIN details_block}
			<span {$details_attrs}>Ítens Encontrados: {$records_found}&nbsp;</span>
		{END details_block}
		
		{BEGIN pages_block}
			<span {$pages_attrs}>Página {$page} de {$maxpages}</span>
		{END pages_block}

			&nbsp;&nbsp;&nbsp;
			
		{BEGIN recordspp_block}	
					{$recsPerPage}
		{END recordspp_block}
		</div>
	</div>
</div> 
{END search_records_block} 

<!-- search panel and window -->
<div id="searchPanelContainer{$id}" class="searchPanelContainer">
{$adv_search_panel} 
</div>
<b class="xbottom" id="searchPanelBottomRound{$id}" {$searchPanelBottomRound_attrs}>
	<b class="rb4 rb4_panel"></b>
	<b class="rb3 rb3_panel"></b>
	<b class="rb2 rb2_panel"></b>
	<b class="rb1 rb1_panel"></b>
</b>

<div moveForSearch="move{$id}" {$marginStyle}>

{BEGIN recordcontrols_block}
<div id="recordcontrols_block{$id}" class="body3">
{BEGIN newrecord_controls}
<span id="newrecord_controls{$id}" >

{BEGIN inlineadd_link}
<span class=buttonborder><input type=button class="button" value="Adicionar Novo" {$inlineaddlink_attrs} ></span>
{END inlineadd_link}
</span>
{END newrecord_controls}
{BEGIN record_controls}
<span id="record_controls{$id}">

{BEGIN editselected_link}
<span class=buttonborder {$editselectedlink_span}><input type=button class="button" value="Editar selecionado" {$editselectedlink_attrs}></span>
{END editselected_link}
{BEGIN saveall_link}
<span class=buttonborder {$savealllink_span}><input type=button class="button" value="Salvar todos" {$savealllink_attrs}></span>
{END saveall_link}
{BEGIN cancelall_link}
<span class=buttonborder {$cancelalllink_span}><input type=button class="button" value="Cancelar Edição" {$cancelalllink_attrs}></span>
{END cancelall_link}

{BEGIN deleteselected_link}
<span class=buttonborder {$deleteselectedlink_span}><input type=button class="button" value="Elimina Selecionados" {$deleteselectedlink_attrs}></span>
{END deleteselected_link}

{BEGIN exportselected_link}
<span class=buttonborder {$exportselectedlink_span}><input type=button class="button" value="Exportação selecionada" {$exportselectedlink_attrs}></span>
{END exportselected_link}

{BEGIN printselected_link}
<span class=buttonborder {$printselectedlink_span}><input type=button class="button" value="Impressão selecionada" {$printselectedlink_attrs}></span>
{END printselected_link}
</span>
{END record_controls}
</div>
<b class="xbottom"><b class="rb4 rb4_controls"></b><b class="rb3 rb3_controls"></b><b class="rb2 rb2_controls"></b><b class="rb1 rb1_controls"></b></b>
{END recordcontrols_block}

<div id="usermessage{$id}" class="message">{$user_message}</div>

{BEGIN grid_block}
<div id="grid_block{$id}">
<table name="maintable" class="data" border="0" cellpadding=3 cellspacing=0>
{BEGIN grid_header}
<thead>
<tr valign="top" class="blackshade" {$gridHeader_attrs}>
{BEGIN record_header}
<th class="headerlist_left_gif_P"  width="5">&nbsp;</th>

{BEGIN listIcons_column}
	<th align="center" class="headerlist" {$widthListIcons} nowrap="nowrap">&nbsp;</th>
{END listIcons_column}

{BEGIN checkbox_column}
<th width="20" align="center" class="headerlist">
<input type="checkbox" {$checkboxheader_attrs}>
</th>
{END checkbox_column}


{BEGIN id_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN id_fieldheader}&nbsp;
<a class="tablelinks" {$id_orderlinkattrs}>
Id</a>
&nbsp;
{END id_fieldheader}
</th>
{END id_fieldheadercolumn}
{BEGIN email_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN email_fieldheader}&nbsp;
<a class="tablelinks" {$email_orderlinkattrs}>
Email</a>
&nbsp;
{END email_fieldheader}
</th>
{END email_fieldheadercolumn}
{BEGIN usuario_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN usuario_fieldheader}&nbsp;
<a class="tablelinks" {$usuario_orderlinkattrs}>
Usuario</a>
&nbsp;
{END usuario_fieldheader}
</th>
{END usuario_fieldheadercolumn}
{BEGIN senha_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN senha_fieldheader}&nbsp;
<a class="tablelinks" {$senha_orderlinkattrs}>
Senha</a>
&nbsp;
{END senha_fieldheader}
</th>
{END senha_fieldheadercolumn}
{BEGIN ativo_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN ativo_fieldheader}&nbsp;
<a class="tablelinks" {$ativo_orderlinkattrs}>
Ativo</a>
&nbsp;
{END ativo_fieldheader}
</th>
{END ativo_fieldheadercolumn}
{BEGIN excluir_fieldheadercolumn}
<th class="headerlist" align="center">
{BEGIN excluir_fieldheader}&nbsp;
<a class="tablelinks" {$excluir_orderlinkattrs}>
Excluir</a>
&nbsp;
{END excluir_fieldheader}
</th>
{END excluir_fieldheadercolumn}
{BEGIN data_fieldheadercolumn}
<th class="headerlist_right2" align="center">
{BEGIN data_fieldheader}&nbsp;
<a class="tablelinks" {$data_orderlinkattrs}>
Data</a>
&nbsp;
{END data_fieldheader}
</th>
{END data_fieldheadercolumn}
<th class="headerlist_right_gif_P">&nbsp;</th>
{BEGIN endrecordheader_block}
<th class="body2"></th>
{END endrecordheader_block}

{END record_header}
</tr>
</thead>
{END grid_header}

<tbody>
{BEGIN grid_row}
<tr valign="top" {$rowstyle} {$rowattrs}>
{BEGIN grid_record}

<td  width="5">&nbsp;</td>

{BEGIN listIcons_column}
	<td align="center" valign="middle" class="borderbody listIcons" nowrap="nowrap" iEditCont="all">
	
		{BEGIN inlineedit_column}
	{BEGIN inlineedit_link}
	<a class="tablelinks" {$inlineeditlink_attrs} title="Editar"><img class="listIcon" src="images/icon_inline_edit_new.gif" align="middle" alt="Editar" border="0"></a>
	{END inlineedit_link}
	{END inlineedit_column}

	
		</td>
{END listIcons_column}	

{BEGIN checkbox_column}
<td align="center" valign="middle" class="borderbody" width="20">
{BEGIN checkbox}
<input type="checkbox" {$checkbox_attrs}>
{END checkbox}
</td>
{END checkbox_column}


{BEGIN id_fieldcolumn}
<td valign="middle" class="borderbody" {$id_style}>
{$id_value}
</td>
{END id_fieldcolumn}
{BEGIN email_fieldcolumn}
<td valign="middle" class="borderbody" {$email_style}>
{$email_value}
</td>
{END email_fieldcolumn}
{BEGIN usuario_fieldcolumn}
<td valign="middle" class="borderbody" {$usuario_style}>
{$usuario_value}
</td>
{END usuario_fieldcolumn}
{BEGIN senha_fieldcolumn}
<td valign="middle" class="borderbody" {$senha_style}>
{$senha_value}
</td>
{END senha_fieldcolumn}
{BEGIN ativo_fieldcolumn}
<td valign="middle" class="borderbody" {$ativo_style}>
{$ativo_value}
</td>
{END ativo_fieldcolumn}
{BEGIN excluir_fieldcolumn}
<td valign="middle" class="borderbody" {$excluir_style}>
{$excluir_value}
</td>
{END excluir_fieldcolumn}
{BEGIN data_fieldcolumn}
<td valign="middle"  {$data_style}>
{$data_value}
</td>
{END data_fieldcolumn}
<td>&nbsp;</td>
{BEGIN endrecord_block}
<td width=20 class="body2" {$endrecordblock_attrs}>&nbsp;</td>
{END endrecord_block}
{END grid_record}
</tr>
{END grid_row}
</tbody>


{BEGIN grid_footer}
<tr class="blackshade" {$gridFooter_attrs}>
{BEGIN record_footer}
<td class=headerlistdown_left2_P height=15></td>
{BEGIN listIcons_column}
	<td class=blackshade nowrap="nowrap">&nbsp;</td>
{END listIcons_column}

{BEGIN checkbox_column}
	<td class=blackshade>&nbsp;</td>
{END checkbox_column}
	

		<td class=blackshade>&nbsp;</td>
		<td class=blackshade>&nbsp;</td>
		<td class=blackshade>&nbsp;</td>
		<td class=blackshade>&nbsp;</td>
		<td class=blackshade>&nbsp;</td>
		<td class=blackshade>&nbsp;</td>
		<td class=blackshade>&nbsp;</td>
	<td class=headerlistdown_right2_P height=15>&nbsp;</td>
{BEGIN endrecordfooter_block}
    <td width=20 class=body2>&nbsp;</td>
{END endrecordfooter_block}
{END record_footer}
	</tr>
</tfoot>
{END grid_footer}
</table>
</div>
{END grid_block}
</div>

{BEGIN pagination_block}
<div>
<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
<div id="pagination_block{$id}" class="xboxcontent">{$pagination}</div>
<b class="xbottom"><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
</div>
{END pagination_block}

{BEGIN message_block}
<div>
	<b class="xtop"><b class="xb1"></b><b class="xb2"></b><b class="xb3"></b><b class="xb4"></b></b>
		<div class="xboxcontent" id="message_block{$id}">{$message}</div>
	<b class="xbottom"><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
</div>
{END message_block}
</div>
{$footer}
{END body}
</body>
</html>

