{BEGIN searchPanel}
<style>
<!--

.searchOptions div{
	/*margin: 10px 0px 10px 10px;*/
	padding: 10px 0px 10px 10px;
}



#addOption{$id}{
	/*padding: 1px 5px 13px 5px !important;*/
}

.addOptionLink{
	margin: 1px 5px 13px 5px !important;
}

#bottomSearchButt{$id}{
	padding: 13px 1px 5px 1px !important;
}
#controlChooseMenu{$id}{
	position: absolute;			
	display: none;	
	width: auto;
	text-align: left;
	
}	

#controlsBlock_{$id}{
	/*display:table;*/
	width: 180px;
}

.srchPanelTable, .srchPanelRow{
	padding:0px !important;
}

.srchPanelRow{
	overflow: hidden;
	width: 180px;
	margin: 0px !important;
}

.srchPanelCell{
	/*padding: 2px !important;*/
	/*margin: 2px 0px 2px 2px !important;*/
	padding: 2px 0px 2px 2px !important;
	float: left; !important;	
}

.srchPanelCell2{
	/*width: 100%;*/
	width: 170px; 
	/*margin-left: 17px !important;*/
	padding-left: 17px !important;
}
.winTable{	
	/*border-collapse: collapse;*/
	border-collapse: separate;	
}

.delButt{
	visibility: hidden;
}



.addSearchControl{
	margin: 5px;
}

.critCont{
	margin: 10px 0px 0px 0px; 
}
-->
</style>



<div id="searchOptions{$id}" class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	<!-- Search panel content -->
	<div id="srchCritTop{$id}" class="critCont" style="display: none;">
		Critério:&nbsp;
    	<input type="radio" name="srchType" {$all_checkbox}>{BEGIN all_checkbox_label}Todos{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" {$any_checkbox}>{BEGIN any_checkbox_label}Qualquer{END any_checkbox_label}
	</div>
	<div id="addOption{$id}" class="addOption">
      	<a id="showHideControlChooseMenu{$id}"  class="tablelinkssearch" {$showHideCtrls_attrs}>Adicionar campo</a>&nbsp;&nbsp;&nbsp;
		<a id="showHideSearchType{$id}"  class="tablelinkssearch" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>		
	</div>
	<!-- choose controls div -->
	<div id="controlChooseMenu{$id}" class="controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_id}
			<a id="addSearchControl_id" class="addSearchControl" {$addSearchControl_id_attrs}>ID</a>
		{END addSearch_id}
		{BEGIN addSearch_nome}
			<a id="addSearchControl_nome" class="addSearchControl" {$addSearchControl_nome_attrs}>Nome</a>
		{END addSearch_nome}
		{BEGIN addSearch_email}
			<a id="addSearchControl_email" class="addSearchControl" {$addSearchControl_email_attrs}>Email</a>
		{END addSearch_email}
		{BEGIN addSearch_endereco}
			<a id="addSearchControl_endereco" class="addSearchControl" {$addSearchControl_endereco_attrs}>Endereço</a>
		{END addSearch_endereco}
		{BEGIN addSearch_cidade}
			<a id="addSearchControl_cidade" class="addSearchControl" {$addSearchControl_cidade_attrs}>Cidade</a>
		{END addSearch_cidade}
		{BEGIN addSearch_estado}
			<a id="addSearchControl_estado" class="addSearchControl" {$addSearchControl_estado_attrs}>Estado</a>
		{END addSearch_estado}
		{BEGIN addSearch_cep}
			<a id="addSearchControl_cep" class="addSearchControl" {$addSearchControl_cep_attrs}>Cep</a>
		{END addSearch_cep}
		{BEGIN addSearch_telefone}
			<a id="addSearchControl_telefone" class="addSearchControl" {$addSearchControl_telefone_attrs}>Telefone</a>
		{END addSearch_telefone}
		{BEGIN addSearch_senha}
			<a id="addSearchControl_senha" class="addSearchControl" {$addSearchControl_senha_attrs}>Senha</a>
		{END addSearch_senha}
		{BEGIN addSearch_ativo}
			<a id="addSearchControl_ativo" class="addSearchControl" {$addSearchControl_ativo_attrs}>Ativo</a>
		{END addSearch_ativo}
		{BEGIN addSearch_excluir}
			<a id="addSearchControl_excluir" class="addSearchControl" {$addSearchControl_excluir_attrs}>Excluir</a>
		{END addSearch_excluir}
		{BEGIN addSearch_data}
			<a id="addSearchControl_data" class="addSearchControl" {$addSearchControl_data_attrs}>Data</a>
		{END addSearch_data}
	</div>
	<!-- search window controls block, make it visible in window mode and hidden in panel -->
	<table id="controlsBlock_{$id}_win" class="winTable" style="display: none;" CELLPADDING="3">
	{BEGIN searchCtrlBlock_win}			
		<tr class="winRow" {$filterRow_attrs}>	
			<td class="srchWinCell"></td>		
			<td class="srchWinCell"></td>
			<td class="srchWinCell" {$srchTypeCont_attrs_win}></td>
			<td class="srchWinCell"></td>
			<td class="srchWinCell"></td>			
		</tr>
	{END searchCtrlBlock_win}
	</table>
	<!-- add for each for get predefined fields for list search panel, not adv search, visible in panel mode and hidden in window -->	
	<div id="controlsBlock_{$id}" class="srchPanelTable">		
	{BEGIN searchCtrlBlock}			
		<div class="srchPanelRow blockBorder" {$filterDiv_attrs}>	
			<div class="srchPanelCell">{$delCtrlButt}</div>		
			<div class="srchPanelCell">{$fLabel}:&nbsp;</div>
			<div class="srchPanelCell srchPanelCell2" {$srchTypeCont_attrs}>{$searchtype}</div>
			<div class="srchPanelCell srchPanelCell2" >{$searchcontrol}</div>
			<div class="srchPanelCell srchPanelCell2" {$secCtrlCont_attrs}>{$searchcontrol1}</div>			
		</div>
	{END searchCtrlBlock}
	</div>
	<div id="bottomSearchButt{$id}" align="center" {$bottomSearchButt_attrs}>
		<span class=buttonborder><input type=button class="button" value="Buscar" {$searchbutton_attrs}></span> 
	</div>
</div>
{END searchPanel}