<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="titulo">
	{$titulo_editcontrol}
	</control>
	<control field="img_destaque">
	{$img_destaque_editcontrol}
	</control>
	<control field="img_interna">
	{$img_interna_editcontrol}
	</control>
	<control field="conteudo">
	{$conteudo_editcontrol}
	</control>
	<control field="destaque_home">
	{$destaque_home_editcontrol}
	</control>
	<control field="ativo">
	{$ativo_editcontrol}
	</control>
	<control field="excluir">
	{$excluir_editcontrol}
	</control>
	<control field="data">
	{$data_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>